.sec-1{
    margin: 10px 20px 30px 40px;
    width: 200px;
    background-color: green;
}
.sec-2{
    margin-top: 25px;
    margin-bottom: 100px;
    margin-left: 30px;
    margin-right: 45px;
    width: 200px;
    background-color: orange;
}